@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav .navbar {
    position: relative;
    top: 100%;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}

.navbar .logo a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

nav .navbar .nav-links {
    line-height: 65px;
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 20px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 50;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}

body {
    height: 100vh;
    padding: 10px;
    background: linear-gradient(to right, lightblue, #FF4B2B)
}

.container {
    position: relative;
    left: 35%;
    top: 100px;
    width: 500px;
    height: 400px;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .price {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.price {
    font-size: 20px;
}

.box {
    position: relative;
    right: 149.5px;
    color: black;
    padding-left: 10px;
    padding-top: 3px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.Tax {
    font-size: 20px;
}

.box1 {
    position: relative;
    right: -190px;
    bottom: 30px;
    color: black;
    padding-left: 10px;
    padding-top: 3px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.TotalP {
    font-size: 20px;
}

.box2 {
    position: relative;
    right: -190px;
    bottom: 30px;
    color: black;
    padding-left: 10px;
    padding-top: 3px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.TotalA {
    font-size: 20px;
}

.box3 {
    position: relative;
    right: -190px;
    bottom: 30px;
    color: black;
    padding-left: 10px;
    padding-top: 3px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.return {
    color: #fff;
    background-color: skyblue;
    border: none;
}

.next {
    position: relative;
    left: 70px;
    color: #fff;
    background-color: skyblue;
    border: none;
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}